In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
D={"data" : [4.8,15,16,23,42]}

In [4]:
s=pd.DataFrame(D)

In [5]:
s["data"]

0     4.8
1    15.0
2    16.0
3    23.0
4    42.0
Name: data, dtype: float64

In [6]:
s

   data
0   4.8
1  15.0
2  16.0
3  23.0
4  42.0

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it

In [7]:
l=[11,12,13,14,15,16,17,18,19,20]

In [8]:
pd.Series(list(l))

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [9]:
data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["female","male","female"]}

In [10]:
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [11]:
print("""Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.""")

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

In [12]:
print("""Series is a type of list in pandas which can take integer values, string values, double values and more. But in Pandas Series we return an object in the form of list, having index starting from 0 to n, Where n is the length of values in series. Later in this article, we will discuss dataframes in pandas, but we first need to understand the main difference between Series and Dataframe. Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data. """)

Series is a type of list in pandas which can take integer values, string values, double values and more. But in Pandas Series we return an object in the form of list, having index starting from 0 to n, Where n is the length of values in series. Later in this article, we will discuss dataframes in pandas, but we first need to understand the main difference between Series and Dataframe. Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [2]:
df = {'one':[1,2,3,4,5,6]}
ser = pd.Series(d)
print("Created Series:\n",ser)

NameError: name 'pd' is not defined

In [ ]:
# Importing pandas package
import pandas as pd
# Create dictionary
d = {
    'a':['This','It','It'],
    'b':['is','contain','is'],
    'c':['a','multiple','2-D'],
    'd':['DataFrame','rows and columns','Data structure']
}
# Create DataFrame
df = pd.DataFrame(d)
# Display DataFrame
print("Created DataFrame:\n",df)

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [19]:
print("""Introduction to pandas: What is pandas library? Definition of data structure, Overview of data structures in pandas, Import convention
The pandas Series: Introduction, Series creation using different ways, indexing and slicing, Mutability of series, Operations and mathematical functions
The pandas DataFrame: Introduction, DataFrame creation using different ways, pandas read_*, Value and size mutability of DataFrame, Column as a series
The pandas Panel
pandas is a fast, powerful, flexible and easy to use data analysis library built on top of NumPy and provides features not available in it. pandas stands for panel data, a reference to the tabular format. It adopts significant parts of NumPy’s idiomatic style of array-based computing. While pandas adopts many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular, heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.""")

Introduction to pandas: What is pandas library? Definition of data structure, Overview of data structures in pandas, Import convention
The pandas Series: Introduction, Series creation using different ways, indexing and slicing, Mutability of series, Operations and mathematical functions
The pandas DataFrame: Introduction, DataFrame creation using different ways, pandas read_*, Value and size mutability of DataFrame, Column as a series
The pandas Panel
pandas is a fast, powerful, flexible and easy to use data analysis library built on top of NumPy and provides features not available in it. pandas stands for panel data, a reference to the tabular format. It adopts significant parts of NumPy’s idiomatic style of array-based computing. While pandas adopts many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular, heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [32]:
import pandas as pd
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])
df=pd.concat({'Courses': courses,
              'Course_Fee': fees,
              'Course_Discount': discount},axis=1)
print(df)

   Courses  Course_Fee  Course_Discount
0    Spark       22000             1000
1  PySpark       25000             2300
2   Hadoop       23000             1000

In [ ]:
import pandas as pd
 
#Creating two lists
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
print(result)